<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get start with Vue.js</title>
    <script src='/js/vue.js'></script>
    <style>
        .background {
            background-color: red;
        }
    </style>
</head>

<body>
    <div id="root">

        <div>
            filter:<input type="text" name="filter" id="filter" v-model="keyword">
            <button @click="sort=-1">年龄升序</button>
            <button @click="sort=1">年龄降序</button>
            <button @click="sort=0">原顺序</button>
            <button @click="updateMei">Update Mei</button>
            <p v-show="keyword!=''">filttering with keyword :{{keyword}}</p>
            <ul>
                <li v-for="p in filteredPersons" :key="p.id">
                    {{p.name}}-{{p.age}}-{{p.sex}}
                </li>
            </ul>
        </div>

    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el: "#root",
            data: {
                keyword: '',
                sort: 0,
                persons: [{
                        id: 1,
                        name: "周冬雨",
                        age: 19,
                        sex: "女"
                    },
                    {
                        id: 2,
                        name: "周杰伦",
                        age: 21,
                        sex: "男"
                    },
                    {
                        id: 3,
                        name: "马冬梅",
                        age: 20,
                        sex: "女"
                    },

                    {
                        id: 4,
                        name: "温兆伦",
                        age: 22,
                        sex: "男"
                    }
                ],
            },
            computed: {
                filteredPersons() {
                    filtered = this.persons.filter((p) => {
                        return p.name.indexOf(this.keyword) !== -1
                    })
                    return filtered.sort((a, b) => (b.age - a.age) * this.sort)
                }
            },
            methods: {
                updateMei() {
                    current = this.persons.findIndex((el) => el.id == 3)
                    this.persons.splice(current, 1, {
                        id: 3,
                        name: "马冬梅",
                        age: this.persons[current].age+1,
                        sex: "女"
                    })
                }
            }
        })
    </script>


</body>

</html>